<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
	
	
	<p style="color: red;" th:if="${error}" th:text="${error}"></p>


    <h2>Connexion</h2>
    <form action="/store/authenticate" method="POST">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="mdp" required><br><br>

        <button type="submit">Se connecter</button>
    </form>

	
	
	
    <h2>Créer un compte</h2>
    <form action="/store/register" method="POST">
        <label for="email">Email :</label>
        <input type="email" id="new-email" name="email" required><br><br>

        <label for="password"> Mot de passe :</label>
        <input type="password" id="password" name="mdp" required><br><br>
        
        <label for="nom"> Nom :</label>
        <input type="text" name="nom" required><br><br>

        <label for="prenom">Prénom :</label>
        <input type="text" name="prenom" required><br><br>

        <button type="submit">S'inscrire</button>
    </form>

</body>
</html>
