<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Produit à la Commande</title>
</head>
<body>

<h3>Ajouter un produit à la commande : <span th:text="${commande.description}"></span></h3>

<form action="/commandes/{commande.id}/ajouter-produit" method="post">
    <input type="text" name="nom" placeholder="Nom du produit" required>
    <input type="number" name="quantite" placeholder="Quantité" required>
    <button type="submit">Ajouter Produit</button>
</form>

</body>
</html>
